<!-- First Name Input
                <div class="col-md-6 mb-3">
                    <label for="{{ form.first_name.id }}" class="form-label">{{ form.first_name.label.text }}</label>
                    {{ form.first_name(class="form-control" + (" is-invalid" if form.first_name.errors else "")) }}
                    {% if form.first_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                Last Name Input
                <div class="col-md-6 mb-3">
                    <label for="{{ form.last_name.id }}" class="form-label">{{ form.last_name.label.text }}</label>
                    {{ form.last_name(class="form-control" + (" is-invalid" if form.last_name.errors else "")) }}
                    {% if form.last_name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div> -->