{% extends "layout.html" %}
{% block headlines %}

    <div class="bg-light top-50 rounded" id="carousel_headline">
        <div>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner rounded">
                <div class="carousel-item active">
                  <a href=#upcoming_flight>
                    <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/45c87728764453.55d18cc5400b9.jpg" alt="First slide" width="100%" height="400" style="object-fit:cover; filter: brightness(90%)">
                  </a>

                  <div class="carousel-caption d-none d-md-block">
                      <h5>Welcome to check this out</h5>
                      <p>This is our solution for the database final project.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href={{ url_for("register") }}>
                    <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/ffe2d528764453.55d18cc554247.jpg" alt="Second slide" width="100%" height="400" style="object-fit:cover; filter: brightness(90%)">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Become a member today</h5>
                    <p>You can register as customer, booking agent or airline staff.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <a href={{ url_for("about") }}>
                    <img class="d-block w-100" src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/ffd65c28764453.55d18bc886f50.jpg" alt="Third slide" width="100%" height="400" style="object-fit:cover; filter: brightness(90%)">
                  </a>
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Learn more about our project</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>
    <div class="space"></div>
{% endblock headlines %}

{% block content %}

    <form class="row g-3" method="POST" action="" id="upcoming_flight">
        {{ form_upcoming_flight.hidden_tag() }}
        <legend class="border-bottom mb-4">Search for upcoming flights</legend>
        <div class="col-md-3">
            {{ form_upcoming_flight.departure_place.label(class="form-control-label") }}
            {% if form_upcoming_flight.departure_place.errors %}
                {{ form_upcoming_flight.departure_place(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_upcoming_flight.departure_place.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_upcoming_flight.departure_place(class="form-control") }}
            {% endif %}
        </div>

        <div class="col-md-3">
            {{ form_upcoming_flight.arrival_place.label(class="form-control-label") }}
            {% if form_upcoming_flight.arrival_place.errors %}
                {{ form_upcoming_flight.arrival_place(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_upcoming_flight.arrival_place.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_upcoming_flight.arrival_place(class="form-control") }}
            {% endif %}
        </div>

        <div class="col-md-3">
            {{ form_upcoming_flight.departure_time.label(class="form-control-label") }}
            {% if form_upcoming_flight.departure_time.errors %}
                {{ form_upcoming_flight.departure_time(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_upcoming_flight.departure_time.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_upcoming_flight.departure_time(class="form-control", placeholder="YYYY-MM-DD") }}
            {% endif %}
        </div>

        <div class="col-md-3">
            {{ form_upcoming_flight.arrival_time.label(class="form-control-label") }}
            {% if form_upcoming_flight.arrival_time.errors %}
                {{ form_upcoming_flight.arrival_time(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_upcoming_flight.arrival_time.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form_upcoming_flight.arrival_time(class="form-control", placeholder="YYYY-MM-DD") }}
            {% endif %}
        </div>

        <small class="text-muted">* Leave blank to search for all</small>


        <div class="form-group">
            {{ form_upcoming_flight.submit(class="btn btn-primary") }}
        </div>

    </form>



{% endblock content %}

{% block extra_content %}
    <div class="bg-light p-5 rounded" id="flight_status">
        <div class="col-sm-10 mx-auto">
            <div>
                <legend class="border-bottom mb-4">Flight Status BillBoard</legend>

                <form class="row g-3" method="POST" action="">
                    <div class="col-md-3">
                        {{ form_flight_status.flight_number.label(class="form-control-label") }}
                        {% if form_flight_status.flight_number.errors %}
                            {{ form_flight_status.flight_number(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_flight_status.flight_number.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_flight_status.flight_number(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {{ form_flight_status.departure_time.label(class="form-control-label") }}
                        {% if form_flight_status.departure_time.errors %}
                            {{ form_flight_status.departure_time(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_flight_status.departure_time.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_flight_status.departure_time(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        {{ form_flight_status.arrival_time.label(class="form-control-label") }}
                        {% if form_flight_status.arrival_time.errors %}
                            {{ form_flight_status.arrival_time(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form_flight_status.arrival_time.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_flight_status.arrival_time(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="col-md-3">
                        <label class="form-label"></label>
                        <div>
                            <a href="#flight_status">
                                <button type="submit" class="btn btn-outline-secondary">Search Flight Status</button>
                            </a>
                        </div>
                    </div>
                </form>
                <div class="space"></div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Flight Number</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Flight Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for flight in status_search_result %}
                            <tr>
                                <td>{{ flight.flight_num }}</td>
                                <td>{{ flight.departure_time }}</td>
                                <td>{{ flight.arrival_time }}</td>
                                <td>{{ flight.status }}</td>
                            </tr>
                        {% endfor %}
                </table>

            </div>
        </div>
    </div>

{% endblock extra_content %}