{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="row g-3">
            <legend class="border-bottom mb-4">Welcome</legend>
            <div class="col-12">
                    <a href="{{ url_for('login_customer') }}" class="btn btn-outline-primary">Login as a customer</a>
            </div>
            <div class="col-12">
                    <a href="{{ url_for('login_agent') }}" class="btn btn-outline-primary">Login as an agent</a>
            </div>
            <div class="col-12">
                    <a href="{{ url_for('login_airline_staff') }}" class="btn btn-outline-primary">Login as an airline staff</a>
            </div>
        </div>
    </div>
{% endblock %}