{% extends "layout.html" %}

{% block content %}
<div class="container py-5">
    <div class="card border-0 shadow">
        <div class="card-body">
            <legend class="border-bottom mb-4">Upcoming Flights</legend>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Airline Name</th>
                            <th scope="col">Flight Number</th>
                            <th scope="col">Departure Airport</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Arrival Airport</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Ticket Price</th>
                            {% if status == "agent" or status == "customer" %}
                                <th scope="col">Purchase</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for flight in search_result %}
                        <tr>
                            <td>{{ flight.airline_name }}</td>
                            <td>{{ flight.flight_num }}</td>
                            <td>{{ flight.departure_airport }}</td>
                            <td>{{ flight.departure_time }}</td>
                            <td>{{ flight.arrival_airport }}</td>
                            <td>{{ flight.arrival_time }}</td>
                            <td>${{ flight.price }}</td>
                            {% if status == "customer" or status == "agent" %}
                                <td><a class="btn btn-primary btn-sm" href="{{ url_for('purchase', flight_num=flight.flight_num) }}">Buy Ticket</a></td>
                            {% elif status == "public" %}
                                <td><a class="btn btn-secondary btn-sm" href="{{ url_for('login') }}">Log in to Buy</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Back to Search Link at the bottom of the card -->
        <div class="card-footer text-right">
            <a class="btn btn-outline-secondary" href="{{ url_for('home') }}">
                Back
            </a>
        </div>
    </div>
</div>
{% endblock content %}
