{% extends "layout.html" %}

{% block content %}
<div>
    <legend class="mb-4">Top 5 Booking Agents of {{ session['airline'] }} Airline</legend>
    <h4>Based on Sales Last Month</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Agent ID</th>
                <th scope="col">Number of Tickets Sold</th>
            </tr>
        </thead>
        <tbody>
            {% for agent in top_5_agents_past_month %}
            <tr>
                <td>{{ agent['booking_agent_id'] }}</td>
                <td>{{ agent['num_tickets'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Based on Sales Last Year</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Agent ID</th>
                <th scope="col">Number of Tickets Sold</th>
            </tr>
        </thead>
        <tbody>
            {% for agent in top_5_agents_past_year %}
            <tr>
                <td>{{ agent['booking_agent_id'] }}</td>
                <td>{{ agent['num_tickets'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Based on Commission Last Year</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Agent ID</th>
                <th scope="col">Sum of Commission</th>
            </tr>
        </thead>
        <tbody>
            {% for agent in top_5_agents_commission_past_year %}
            <tr>
                <td>{{ agent['booking_agent_id'] }}</td>
                <td>{{ agent['commission'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block extra_content %}
<div class="bg-light p-5 rounded" id="flight_status">
    <div class="col-sm-10 mx-auto">
        <legend class="border-bottom mb-4">All Agents of {{ session['airline'] }} Airline</legend>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Agent ID</th>
                    <th scope="col">Agent Email</th>
                </tr>
            </thead>
            <tbody>
                {% for agent in booking_agents %}
                <tr>
                    <td>{{ agent['booking_agent_id'] }}</td>
                    <td>{{ agent['email'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock extra_content %}