{% extends "layout.html" %}

{% block content %}
<style>
    .chart-container {
        margin-top: 20px;
        margin-bottom: 40px; /* Added bottom margin for better spacing */
        width: 100%;
        height: 400px;
    }
    .legend-title {
        font-size: 24px;
        font-weight: bold;
        margin-top: 30px;
        color: #007BFF;
    }
    .section-title {
        font-size: 20px;
        color: #0056b3;
        margin-top: 20px;
        margin-bottom: 10px;
    }
</style>

<div class="container py-4">
    <legend class="legend-title">Your Top 5 Customers</legend>

    <!-- Top 5 Customers Based on Sales Last 6 Months -->
    <h2 class="section-title">Sales Performance: Last 6 Months</h2>
    <div class="chart-container">
        <canvas id="top5CustomersLastMonth"></canvas>
    </div>

    <!-- Top 5 Commissions Based on Last Year -->
    <h2 class="section-title">Commission Earnings: Last Year</h2>
    <div class="chart-container">
        <canvas id="top5CommissionsLastYear"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx1 = document.getElementById('top5CustomersLastMonth');
    let top_5_customers_past_month = JSON.parse({{ top_5_customers_past_month | tojson }});

    new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: top_5_customers_past_month['customer_email'],
            datasets: [{
                label: 'Number of Tickets Sold',
                backgroundColor: 'rgba(0, 123, 255, 0.5)',
                borderColor: 'rgba(0, 123, 255, 1)',
                data: top_5_customers_past_month['num_tickets'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ctx2 = document.getElementById('top5CommissionsLastYear');
    let top_5_commissions_past_year = JSON.parse({{ top_5_commissions_past_year | tojson }});

    new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: top_5_commissions_past_year['customer_email'],
            datasets: [{
                label: 'Total Commissions',
                backgroundColor: 'rgba(220, 53, 69, 0.5)',
                borderColor: 'rgba(220, 53, 69, 1)',
                data: top_5_commissions_past_year['commission'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock content %}
